@charset "UTF-8";

@font-face {
  font-family: "avam";
  src:url("fonts/avam.eot");
  src:url("fonts/avam.eot?#iefix") format("embedded-opentype"),
    url("fonts/avam.woff") format("woff"),
    url("fonts/avam.ttf") format("truetype"),
    url("fonts/avam.svg#avam") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "avam" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "avam" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-desarmado:before {
  content: "\61";
}
.icon-lanza:before {
  content: "\62";
}
.icon-dual-lanza:before {
  content: "\63";
}
.icon-oliva:before {
  content: "\64";
}
.icon-arco:before {
  content: "\65";
}
.icon-pv:before {
  content: "\66";
}
.icon-dual-espada:before {
  content: "\67";
}
.icon-labrys:before {
  content: "\68";
}
.icon-dual-daga:before {
  content: "\69";
}
.icon-espada:before {
  content: "\6a";
}
.icon-vel:before {
  content: "\6b";
}
.icon-pe:before {
  content: "\6c";
}
.icon-esencia:before {
  content: "\6d";
}
.icon-escudo:before {
  content: "\6e";
}
.icon-hacha:before {
  content: "\6f";
}
.icon-pr:before {
  content: "\70";
}
.icon-daga:before {
  content: "\71";
}
.icon-atmospheric:before {
  content: "\72";
}
.icon-thunder:before {
  content: "\73";
}
.icon-ship:before {
  content: "\74";
}
